USE [master]
GO
/****** Object:  Database [store_management]    Script Date: 28/05/2025 5:18:00 CH ******/
CREATE DATABASE [store_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'store_management', FILENAME = N'E:\phanmem\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\store_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'store_management_log', FILENAME = N'E:\phanmem\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\store_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [store_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [store_management]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[phone] [char](12) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[amount] [bigint] NULL,
	[totalAmount] [bigint] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[customerID] [int] NOT NULL,
	[userID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[price] [bigint] NULL,
	[quantity] [int] NULL,
	[discount] [int] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[stockOnHand] [int] NULL,
	[price] [bigint] NULL,
	[thumb] [varchar](100) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
	[categoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockIn]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockIn](
	[productID] [int] NOT NULL,
	[supplierID] [int] NOT NULL,
	[quantity] [int] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC,
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[supplierID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28/05/2025 5:18:00 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](100) NULL,
	[role] [varchar](10) NULL,
	[fullname] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[position] [nvarchar](100) NULL,
	[phone] [char](12) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [name], [createdAt], [updatedAt]) VALUES (1, N'Đồ uống', CAST(N'2025-05-18T21:38:49.053' AS DateTime), CAST(N'2025-05-18T21:38:49.057' AS DateTime))
INSERT [dbo].[Category] ([categoryID], [name], [createdAt], [updatedAt]) VALUES (2, N'Đồ ăn nhanh', CAST(N'2025-05-18T21:38:54.923' AS DateTime), CAST(N'2025-05-18T21:38:54.923' AS DateTime))
INSERT [dbo].[Category] ([categoryID], [name], [createdAt], [updatedAt]) VALUES (3, N'Đồ ăn lạnh', CAST(N'2025-05-18T21:39:03.850' AS DateTime), CAST(N'2025-05-18T21:39:03.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [name], [address], [phone], [createdAt], [updatedAt]) VALUES (1, N'Nguyễn Đức Điệp', N'Hà Nội', N'0832344555  ', CAST(N'2025-05-18T22:02:26.447' AS DateTime), CAST(N'2025-05-18T22:02:26.447' AS DateTime))
INSERT [dbo].[Customer] ([customerID], [name], [address], [phone], [createdAt], [updatedAt]) VALUES (2, N'Hoàng Duy Khánh', N'Hải Phòng', N'0869246248  ', CAST(N'2025-05-18T22:03:13.400' AS DateTime), CAST(N'2025-05-18T22:03:13.400' AS DateTime))
INSERT [dbo].[Customer] ([customerID], [name], [address], [phone], [createdAt], [updatedAt]) VALUES (3, N'Lường Bá Hoàng', N'Thanh Hoá', N'0963549898  ', CAST(N'2025-05-18T22:04:18.143' AS DateTime), CAST(N'2025-05-18T22:04:18.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [createdAt], [updatedAt], [customerID], [userID]) VALUES (1, 3440000, 3440000, CAST(N'2025-05-18T23:02:04.890' AS DateTime), CAST(N'2025-05-18T23:02:04.890' AS DateTime), 2, 2)
INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [createdAt], [updatedAt], [customerID], [userID]) VALUES (2, 601000, 601000, CAST(N'2025-05-18T23:42:09.187' AS DateTime), CAST(N'2025-05-18T23:42:09.193' AS DateTime), 4, 2)
INSERT [dbo].[Order] ([orderID], [amount], [totalAmount], [createdAt], [updatedAt], [customerID], [userID]) VALUES (3, 1023000, 1023000, CAST(N'2025-05-18T23:42:33.420' AS DateTime), CAST(N'2025-05-18T23:42:33.423' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount], [createdAt], [updatedAt]) VALUES (12, 5, 5000, 1, 0, NULL, NULL)
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount], [createdAt], [updatedAt]) VALUES (12, 6, 6000, 1, 0, NULL, NULL)
INSERT [dbo].[OrderDetail] ([orderID], [productID], [price], [quantity], [discount], [createdAt], [updatedAt]) VALUES (13, 5, 5000, 1, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [thumb], [createdAt], [updatedAt], [categoryID]) VALUES (1, N'bimbim', 2, 11111, NULL, CAST(N'2025-05-18T22:31:46.130' AS DateTime), CAST(N'2025-05-28T04:34:41.203' AS DateTime), 4)
INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [thumb], [createdAt], [updatedAt], [categoryID]) VALUES (2, N'Nước Pepsi', 106, 14000, NULL, CAST(N'2025-05-18T22:34:28.917' AS DateTime), CAST(N'2025-05-18T23:49:05.383' AS DateTime), 1)
INSERT [dbo].[Product] ([productID], [name], [stockOnHand], [price], [thumb], [createdAt], [updatedAt], [categoryID]) VALUES (3, N'Xúc xích', 200, 45000, NULL, CAST(N'2025-05-18T22:35:07.480' AS DateTime), CAST(N'2025-05-18T23:42:33.530' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[StockIn] ([productID], [supplierID], [quantity], [createdAt], [updatedAt]) VALUES (2, 1, 9, CAST(N'2025-05-28T05:08:52.740' AS DateTime), CAST(N'2025-05-28T05:08:52.740' AS DateTime))
INSERT [dbo].[StockIn] ([productID], [supplierID], [quantity], [createdAt], [updatedAt]) VALUES (3, 2, 5, CAST(N'2025-05-28T05:14:11.573' AS DateTime), CAST(N'2025-05-28T05:14:11.573' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([supplierID], [name], [address], [createdAt], [updatedAt]) VALUES (1, N'Công ty FOCOCEV Việt Nam', N'Tp. HCM', CAST(N'2025-05-18T21:44:42.470' AS DateTime), CAST(N'2025-05-18T21:44:42.470' AS DateTime))
INSERT [dbo].[Supplier] ([supplierID], [name], [address], [createdAt], [updatedAt]) VALUES (2, N'Công ty Nam Bảo Tín', N'Tp. HCM', CAST(N'2025-05-18T21:45:04.650' AS DateTime), CAST(N'2025-05-18T21:45:04.650' AS DateTime))
INSERT [dbo].[Supplier] ([supplierID], [name], [address], [createdAt], [updatedAt]) VALUES (3, N'Công ty Minh Anh', N'Tp. HCM', CAST(N'2025-05-18T21:45:28.307' AS DateTime), CAST(N'2025-05-18T21:45:28.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [username], [password], [role], [fullname], [address], [position], [phone], [createdAt], [updatedAt]) VALUES (1, N'admin', N'12345', N'admin', N'Hồ Xuân Lộc', N'Hà Tĩnh', N'admin', N'0981726364  ', CAST(N'2025-05-18T21:57:02.167' AS DateTime), CAST(N'2029-05-27T23:49:33.387' AS DateTime))
INSERT [dbo].[User] ([userID], [username], [password], [role], [fullname], [address], [position], [phone], [createdAt], [updatedAt]) VALUES (2, N'employee', N'12345', N'user', N'Đặng Minh Kiên', N'Quản Ninh', N'Nhân viên', N'0937125355  ', CAST(N'2025-05-18T21:59:05.250' AS DateTime), CAST(N'2029-05-27T23:50:37.423' AS DateTime))
INSERT [dbo].[User] ([userID], [username], [password], [role], [fullname], [address], [position], [phone], [createdAt], [updatedAt]) VALUES (3, N'admin2', N'12345', N'admin', N'Nguyễn Nhật Khang', N'Hồ Chí Minh', N'admin', N'0354658789  ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [stockOnHand]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([productID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
ALTER TABLE [dbo].[StockIn]  WITH CHECK ADD FOREIGN KEY([supplierID])
REFERENCES [dbo].[Supplier] ([supplierID])
GO
USE [master]
GO
